Add additional edge cases for servers that fail to support HTTP HEAD

HTTP HEAD support is a requirement for any general purpose webserver as per [RFC2616 Section 5.1.1 - Method](http://tools.ietf.org/html/rfc2616#section-5.1.1) which states

> The methods GET and HEAD MUST be supported by all general-purpose servers. 

Yet many web servers and CDNs do not properly or accurately support this method, possibly returning 400 or 500 responses that would otherwise be a 200 with HTTP GET. 

To date, this has been observed with some requests to Socrata hosted datasets as well as URLs served by ArcGIS for Server on Linux and some responses from servers that identify themselves as AkamaiGHost. Bug reports should be filed for each of these respective technologies, but until they are fixed and implementations are patched, we'll have to do our best to detect these edge cases and fall back to HTTP GET. 

Currently we already support the [workaround for Socrata](https://github.com/project-open-data/project-open-data-dashboard/blob/2f1fffe7235f90e83d11f41fa514a2e5a64895bb/application/helpers/api_helper.php#L70-L76) to fall back to HTTP GET, but we also need to add additional edge case checks for AkamaiGHost (returning a 503) and ArcGIS (returning a 405)

See also:

> This is also being tracked for data.gov with GSA/data.gov#459 for broken links and GSA/data.gov#471 and GSA/data.gov#55 for format validation

The ArcGIS services will respond if you include `f=json` with the request. Can you add a handler similar to the Socrata workaround?

Adding ?f=json gets rid of the 405 error for head requests.  @ecaldwell This relates to how this dataset url's show up in data.gov: http://catalog.data.gov/dataset/fs-national-forest-dataset-us-forest-service-proclaimed-forests  

Would GIS customers be happy with http://apps.fs.usda.gov/ArcX/rest/services/EDW/EDW_ProclaimedForestBoundaries_01/MapServer?f=json  as a landing page from data.gov?

> Would GIS customers be happy...

Probably not! 😄  I'm suggesting appending `f=json` in the link validator on the backend and leaving the clean url for the actual page. Would that be a viable option?